$black-color: #000000;
$primary-color: #1F1517;
$secondary-color: #A45A49;
$bg-hero-color: #181012;
$white-color: #ffffff;
$gray-color: #c7bab3;
$git-color:#fff2e7;
$nav-gray-color:#FFF2E780;
$yellow-color:#E7A80E;

